services:
  mysql:
    image: mysql:8.0
    container_name: pokedex-mysql
    environment:
      MYSQL_ROOT_PASSWORD: mysql
      MYSQL_DATABASE: pokedex
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  redis:
    image: redis:7-alpine
    container_name: pokedex-redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      timeout: 10s
      retries: 5

  backend:
    build: .
    container_name: pokedex-backend
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/pokedex
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: mysql
      SPRING_DATA_REDIS_HOST: redis
      POKEAPI_BASE_URL: https://pokeapi.co/api/v2
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy